<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<p>Check out the different experiments</p>

<ul>
  <li><a href="/experiments/fractal-tree-1">Fractal Tree 1</a></li>
  <li><a href="/experiments/terrain">Terrain</a></li>
  <li><a href="/experiments/mandlebrot">Mandlebrot Set Fractal</a></li>
  <li><a href="/experiments/julia">Julia Set Fractals</a></li>  
</ul>
