<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <script src="/javascripts/libraries/p5.js"></script>
    <script src="/javascripts/libraries/p5.dom.js"></script>
    <script src="/javascripts/libraries/p5.sound.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
