<h1>{{title}}</h1>
<p>This demonstrates maze generation using the Deep-first search and recursive back-trace strategy.</p>
<p>
  <strong>Wikepedia:</strong>
  <a href="https://en.wikipedia.org/wiki/Maze_generation_algorithm">
    https://en.wikipedia.org/wiki/Maze_generation_algorithm
  </a>
  <br />
  <strong>Youtube:</strong>
  Based on a video series starting here:
  <a href="https://youtu.be/HyK_Q5rrcr4">
    https://youtu.be/HyK_Q5rrcr4
  </a>
</p>
<script src="/javascripts/maze-dfrb.js"></script>
